@import 'variables';

#cookies-external-page {
  min-height: 100vh;
  width: auto;
  max-width: 100%;

  .cookies-consent-banner {
    min-height: auto;
    max-width: 100%;
    margin: 0 auto;
    position: relative !important;
    width: 70% !important;

    .accordion .accordion-item .accordion-button {
      font-size: 1rem;
    }
  }
}

// Cookie Success Message
.cookie-success-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100000;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #c3e6cb;
  border-radius: 0.25rem;
  background-color: #d4edda;
  color: #155724;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s linear;

  &.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
}

// Cookies Consent Banner
.cookies-consent-banner {
  color: #222;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0;

  a {
    font-size: inherit;
  }

  button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc($gutter / -2);
    margin-left: calc($gutter / -2);
    align-items: center;
    justify-content: center;
  }

  .g-0 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }

  .col {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .col-6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  @media (max-width: 576px) {
    .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.333333%;
      padding: 2px 6px;
    }
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #212529;
    padding: 0.425rem 0.1rem;
    font-size: 95%;
    border-radius: $border-radius;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    white-space: nowrap;
    height: auto;

    &.btn-light {
      color: #212529;
      background-color: $light-color;

      &:hover {
        background-color: darken($light-color, 10%);
        border-color: darken($light-color, 10%);
      }
    }
  }

  .w-100 {
    width: 100% !important;
  }

  .accordion {
    --bs-accordion-border-color: #{$border-color};
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;

    .accordion-item {
      background-color: #fff;
      border: 1px solid $border-color;
      color: #212529;
      border-bottom: 1px solid #ddd;
      max-height: 45vh; // Default height based on viewport height
      overflow-y: auto;
      transition: max-height 0.3s ease-out;

      .accordion-button {
        // set a font size for all screens
        font-size: 15.5px;
      }
    }

    // Mobile devices (up to 767px)
    @media (max-width: 767px) {
      .cookies-consent-banner.banner {
        top: 0;
        bottom: auto;
      }
      .accordion-item {
        max-height: 30vh; // Adjust for mobile devices
      }
    }

    // Tablets (768px to 1023px)
    @media (min-width: 768px) and (max-width: 1023px) {
      .cookies-consent-banner.banner {
        top: 0;
        bottom: auto;
      }
      .accordion-item {
        max-height: 30vh; // Adjust for tablets
      }
    }

    // Laptops (1024px to 1439px)
    @media (min-width: 1024px) and (max-width: 1439px) {
      .cookies-consent-banner.banner {
        top: 0;
        bottom: auto;
      }
      .accordion-item {
        max-height: 35vh; // Adjust for laptops
      }
    }

    // Desktops (1440px and above)
    @media (min-width: 1440px) {
      .accordion-item {
        max-height: 45vh; // Default height for desktops
      }
    }

    .accordion-header {
      margin-bottom: 0;
      padding: 10px 15px;
      cursor: pointer;
      font-weight: bold;
      background-color: #f7f7f7;

      @media (max-width: 575.98px) {
        padding: 2px;
      }
    }

    .accordion-button {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: $font-size-base;
      text-align: left;
      background-color: $border-color;
      border: 1px solid transparent;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      cursor: pointer;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: $primary-color;

      // mobile
      @media (max-width: 575.98px) {
        padding: 0.3rem 0.75rem;
      }

      &:not(.collapsed) {
        color: $dark-color;
        background-color: $border-color;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
      }

      &::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background: no-repeat center/50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
      }

      &.collapsed::after {
        transform: rotate(90deg);
      }
    }

    .accordion-collapse {
      display: none;
      border-top: 1px solid $border-color;

      &.show {
        display: block;
      }
    }

    .accordion-body {
      padding: 0.5rem;

      @media (max-width: 575.98px) {
        padding: 0;
      }
    }
  }

  .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;

    .form-check-input {
      float: left;
      margin-left: -1.25rem;
      width: $checkbox-size;
      height: $checkbox-size;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      appearance: none;
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &[type='checkbox'] {
        border-radius: 1em;
      }

      &:checked {
        background-color: $primary-color;
        border-color: $primary-color;
      }

      &:focus {
        border-color: $primary-color;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
      }

      &:disabled {
        filter: none;
        opacity: .5;
        pointer-events: none;

        ~ .form-check-label {
          cursor: default;
          opacity: .5;
        }
      }
    }
  }

  .form-switch {
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .form-check-input {
      width: 2em;
      height: 18px;
      margin-right: 10px;
      background-color: #adb5bd;
      border-radius: 1em;
      position: relative;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      --bs-form-switch-bg: none !important; // Removes Bootstrap background

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0.125em;
        left: 0.125em;
        width: 0.75em;
        height: 0.75em;
        border-radius: 0.75em;
        background-image: none !important; // Removes Bootstrap's background image
        background-color: #fff !important;
        transition: transform 0.15s ease-in-out;
      }

      &:checked::before {
        transform: translateX(1em);
      }

      &:checked {
        background-color: $primary-color;
        --bs-form-switch-bg: none !important;
        background-image: none !important; // Ensures Bootstrap does not override the background
      }
    }
  }

  .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    .list-group-item {
      position: relative;
      display: block;
      padding: 0.75rem 1.25rem;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);

      @media (max-width: 575.98px) {
        padding: 0.25rem 0.5rem;
      }
    }
  }

  .mt-3 {
    margin-top: 1rem !important;
  }

  .h5 {
    font-size: $h5-font-size;
  }

  .small {
    font-size: $font-size-small;
  }

  .m-0 {
    margin: 0 !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-0 {
    padding-left: 0 !important;
  }

  .pr-0 {
    padding-right: 0 !important;
  }

  dl {
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: 575.98px) {
      margin-bottom: 0;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-bottom: .25rem;
      margin-left: 0;

      @media (max-width: 575.98px) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  code {
    font-size: 87.5%;
    color: #d63384;
    word-wrap: break-word;
  }

  .cookie-actions {
    margin-top: 10px;
    width: 100%;
    text-align: center;

    .row {
      margin: 0;
    }
  }

  .cookie-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  #cookie-consent-title {
    font-size: large;
  }

  &.banner {
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
    z-index: 10000000;
    width: 650px;
    display: none;
    max-height: 80%;
    overflow: hidden;

    .cookies-container {
      max-height: calc(100% - 80px);
      overflow-y: auto;
    }

    @media (max-width: 575.98px) {
      width: calc(100% - 20px);
      left: 10px;
      right: 10px;
      padding: 10px;
      max-height: 95%;

      .cookies-container {
        max-height: calc(100% - 145px);
      }

      .cookie-actions {

        button#accept-all-cookies, button#accept-selected-cookies {
          border-bottom: 0;
        }
      }
    }
  }

  .policy-link {
    font-size: small;
    text-decoration: underline;
  }
}

#scify-cookie-consent-floating-button {
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 10000000;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  height: 45px;
  width: 45px;

  img {
    width: 100%;
    height: 100%;
  }
}